* {
  margin: 0px;
  padding: 0px;
}

body {
  font-family: Helvetica;
  font-size: 20px;
}

header {
  background: orange;
  width: 100%;
  padding-left: 1%;
  overflow: hidden;
}

.box {
  width: 32%;
  margin-left: 1%;
  float: left;
  overflow: hidden;
  margin-top: 20px;
}

p, h1, h2 {
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}

@media only screen and (max-width: 600px) {
  .box {
    float: none;
    width: 98%;
  }
}
