* {
  margin: 0;
  padding: 0;
}

.main-block {
  display: inline-block;
  border: 2px dashed;
  padding: 10px 10px 0px 5px;
}

p {
margin-bottom: 20px;
}

sub {
  color: blue;
}

sup {
  color: red;
}

sub,
sup {
  font-size: 0.5em;
  font-style: normal;
}

.formula {
  font-family: "Times New Roman";
  font-style: italic;
  font-size: 2em;
}