* {
  margin: 0;
  padding: 0;
}

body {
  background: #ffffff;
  font-family: Tahoma;
  text-align: center;
}

.wrapper {
  height: 550px;
  width: 400px;
  margin: 10px;
  border: 2px solid black;
}

.product-name {
  height: 83px;
  width: 80%;
  font-size: 22px;
  margin-left: 10%;
  padding-top: 15px;
}

.rassrochka {
  height: 31px;
  width: 190px;
  box-shadow: -4px 4px 0px 0px rgba(156,156,156,1);
  background-color: #8bc144;  
  font-size: 22px;
  color: white;
} 

.price-info {
  height: 66px;
  line-height: 67px;
  width: auto;
  font-size: 31px;
}

button {
  height: 47px;
  line-height: 47px;
  width: 229px;
  font-size: 28px;
  color: white;
  background-color: #ff0000;
  margin-right: 27px;
  text-shadow: -1px 1px 0px rgba(0, 0, 0, 1);
  border: 0px;
  }

  .buy-button__border{
    height: 4px;
    width: 228px;
    margin-left: 72px;
    background-color: #850000;
  }