.main-block {
  background-image: url(http://tutorial.promo.net.ua/images/js/setka3.png);
  background-position: top left;
  width: 300px;
  height: 300px;
  border: 1px solid black;
}

.blue, .red, .yellow {
  width: 100px;
  height: 100px;
  position: absolute
}

.blue {
  background: blue;
  z-index: 2;
  top: 109px;
  left: 109px;
}

.red {
  background: red;
  z-index: 1;
  top: 59px;
  left: 59px;
}

.yellow {
  background:yellow;
  z-index: 3;
  top: 159px;
  left: 159px;
}